@using BudgetMake.Presentation.Web.Helpers

<style>

    .monthlyMenu {
        display: inline-block;
        padding: 0.2em;
    }

</style>

<div class="form-horizontal">

    <div class="form-group">
        
        <div class="monthlyMenu">
            <input type="button" class="btn btn-default"
                   value="Add Salary" id="btnCreateNewSalaryItem" />
        </div>

        <div class="monthlyMenu">
            <input type="button" class="btn btn-default"
                   value="Add Loan Payment" id="btnCreateNewLoanPaymentItem" />
        </div>

        <div class="monthlyMenu">
            <input type="button" class="btn btn-default"
                   value="Add Credit Card" id="btnCreateNewCreditCardItem" />
        </div>

        <div class="monthlyMenu">
            <input type="button" class="btn btn-default"
                   value="Add Cheque" id="btnCreateNewChequeItem" />
        </div>

        <div class="monthlyMenu">
            <input type="button" class="btn btn-default"
                   value="Add Expense" id="btnCreateNewExpenseItem" />
        </div>

    </div>
</div>

<div>
    @{Html.RenderAction("GetBudgetItemsList", "Salary", new { MonthlyPlanId = TempData["MonthlyPlan"] }); }
</div>

<div>
    @{ Html.RenderAction("GetLoanPayments", "BudgetItem", new { MonthlyPlanId = TempData["MonthlyPlan"] }); }
</div>

<div>
    @{ Html.RenderAction("GetBudgetItemsList", "CreditCard", new { MonthlyPlanId = TempData["MonthlyPlan"] }); }
</div>

<div>
    @{ Html.RenderAction("GetCheques", "BudgetItem", new { MonthlyPlanId = TempData["MonthlyPlan"] }); }
</div>

<div>
    @{  Html.RenderAction("GetBudgetItemsList", "Expense", new { MonthlyPlanId = TempData["MonthlyPlan"] }); }
</div>
<div>
    @Html.ActionLink("Up", "GetMonthlyPlans", "MonthlyPlans", new { AnnualPlanID = TempData["AnnualPlan"] }, null)
</div>

@Html.Hidden("MonthlyPlan", TempData["MonthlyPlan"]);

@Html.bsModal("interaction", "Create new budget item")

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=" crossorigin="anonymous"></script>
<script src="~/Scripts/pages/budgetitems.js"></script>